.mat-expansion-panel-header.mat-expanded,
.mat-expansion-panel-header:hover {
  color: #C73C35;
  font-size: calc(0.6vw + 5px) !important;
  font-weight: bolder;
  background: #E8E8E8 !important;
}

.header.mat-expansion-panel-header {
  font-size: calc(0.6vw + 3px);
}

#filter {
  margin-top: 10px;
  overflow: hidden;
}

#chart {
  height: 400px;
}

@media only screen and (max-width: 1200px) {
  .mat-expansion-panel-header.mat-expanded,
  .mat-expansion-panel-header:hover {
    color: #C73C35;
    font-size: calc(0.6vw + 10px) !important;
    font-weight: bolder;
    background: #E8E8E8 !important;
  }

  .header.mat-expansion-panel-header {
    font-size: calc(0.6vw + 8px);
  }
}

@media only screen and (max-width: 768px) {
  .mat-expansion-panel-header.mat-expanded,
  .mat-expansion-panel-header:hover {
    color: #C73C35;
    font-size: calc(0.6vw + 12px) !important;
    font-weight: bolder;
    background: #E8E8E8 !important;
  }

  .header.mat-expansion-panel-header {
    font-size: calc(0.6vw + 9px);
  }
}