#tabs {
  padding: 20px;
}

/* Styles for tab labels */
.mat-tab-label {
  color:  #333333;
  font-size: calc(0.5vw + 9px);
  font-weight: normal;
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
  color: #C73C35;
  font-size: calc(0.6vw + 10px);
  font-weight: bolder;
}

@media only screen and (max-width: 1200px) {
  #tabs {
    padding: 0px;
  }
}