@import '~@angular/material/theming';

@include mat-core();

$bv-red: (
    50 : #f8e8e7,
    100 : #eec5c2,
    200 : #e39e9a,
    300 : #d87772,
    400 : #cf5953,
    500 : #c73c35,
    600 : #c13630,
    700 : #ba2e28,
    800 : #b32722,
    900 : #a61a16,
    A100 : #ffdada,
    A200 : #ffa8a7,
    A400 : #ff7674,
    A700 : #ff5e5a,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$bv-gray: (
    50 : #e7e7e7,
    100 : #c2c2c2,
    200 : #999999,
    300 : #707070,
    400 : #525252,
    500 : #333333,
    600 : #2e2e2e,
    700 : #272727,
    800 : #202020,
    900 : #141414,
    A100 : #ef6e6e,
    A200 : #ea4040,
    A400 : #f60000,
    A700 : #dd0000,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

// mandatory stuff for theming
$bv-palette-primary: mat-palette($bv-red);
$bv-palette-accent:  mat-palette($bv-gray);

// include the custom theme components into a theme object
$bv-theme: mat-light-theme($bv-palette-primary, $bv-palette-accent);

// include the custom theme object into the angular material theme
@include angular-material-theme($bv-theme);
